:root {
    --primary: #42aa8b;
    --secondary: #f0ffff;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    color: var(--secondary)
}

header, .btn {
    background-color: var(--primary);
    border-color: black;
}

.favorable {
    background-color: var(--primary);
    color: var(--secondary)
}

.moderate {
    background-color: orange;
    color: var(--secondary);
}

.severe {
    background-color: red;
    color: var(--secondary);
}

.severe, .moderate, .favorable {
    padding: 5px;
    border-radius: 5px;
}