:root {
    --primary: #42aa8b;
    --secondary: #f0ffff;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    color: var(--secondary);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header, .btn {
    background-color: var(--primary);
    border-color: black;
}

.favorable {
    background-color: var(--primary);
    color: var(--secondary);
}

.moderate {
    background-color: orange;
    color: var(--secondary);
}

.severe {
    background-color: red;
    color: var(--secondary);
}

.severe, .moderate, .favorable {
    padding: 5px;
    border-radius: 5px;
}

#forecast {
    margin: auto;
}


.forecast {
    border-color: 1px solid var(--secondary);
    background-color: var(--primary);
}

#history {
    text-transform: uppercase;
    cursor: pointer;
}

.fiveday-header h3 {
    font-weight: bolder;
}